@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap");

.mainFlex {
  display: flex;
}

.mainpost {
  margin: 0;
  padding: 0;
  border-right: solid 1px #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: left;
  .articleHeader {
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;

    .articleInfo {
      padding: 0 72px;
      font-family: IBM Plex Sans;
      margin-top: 100px;
      color: #ececec;
    }
    .articleTitle {
      padding: 0 72px;
      font-size: 42px;
      font-weight: 800;
      color: #fff;
    }

    h3 {
      padding: 0 72px;
      color: #ececec;
      font-size: 16px;
      font-family: Inter;
      font-weight: normal;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
  .articleContent {
    padding: 0 72px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    p {
      margin-top: 37px;
      font-family: Inter;
      font-size: 16px;
      line-height: 26px;
    }
    .headings {
      line-height: 28px;
      font-weight: 800;
      h1 {
        font-size: 36px;
      }
      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 26px;
      }
      h4 {
        font-size: 22px;
      }
      h5 {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 1320px) {
  .mainFlex {
    flex-direction: column;
  }

  .mainpost {
    border-bottom: solid 1px #f1f1f1;

    .article {
      max-width: 900px;
    }
    .articleHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
    }
  }
}
