.nav {
  padding: 21px 29px;
  display: flex;
  justify-content: space-between;
  .navLogo {
    color: #0a3465;
    text-decoration: none;
    font-size: 16px;
    line-height: 32px;
    font-weight: 800;
  }
  .navEnd {
    display: flex;
    margin-right: 120px;
  }
  .search {
    margin-right: 20px;
    .searchIcon {
      cursor: pointer;
      font-size: 30px;
      color: #dedede;
    }
    .searchIcon:hover {
      color: #b4b4b4;
    }
  }

  .user {
    cursor: pointer;
    .userIcon {
      font-size: 30px;
      color: #dedede;
    }
    .userIcon:hover {
      color: #b4b4b4;
    }
  }
}

@media (max-width: 1320px) {
  .nav {
    margin-top: 40px;
    width: 100%;
    padding: 0;
    justify-content: center;
    .navLogo {
      margin-right: 300px;
    }
    .navEnd {
      margin-right: 0;
    }
  }
}
